<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Diária
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <br>
  <label>Tipo de Quarto   Valor Diária</label><br><br>
  <ion-radio-group [(ngModel)]="op">
    <ion-radio value="Standard" labelPlacement="end">Standard R$806,00</ion-radio><br />
    <ion-radio value="Superior" labelPlacement="end">Superior R$1050,00</ion-radio><br />
    <ion-radio value="Master" labelPlacement="end">Master R$1500,00</ion-radio><br />
    <ion-radio value="Luxo" labelPlacement="end">Luxo R$2100,00</ion-radio><br />
  </ion-radio-group>
  
  <ion-item>
    <ion-label position="floating">Quantidade de dias</ion-label>
    <ion-input type="number" placeholder="Digite a quantidade" [(ngModel)]="qtd"></ion-input>
  </ion-item>

  
  <ion-button expand="block" color="primary" (click)="continuar()">Calcular</ion-button>

  
  
</ion-content>
